<!doctype html>
<html lang="en" th:replace="~{base::parent(~{::.mainContent},~{::title})}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Smart Contact Manager</title>
</head>

<body>
<div class="mainContent">
<div class="bg-gray-200 w-1/2 p-4 mx-auto mt-4">
    <h1 class="text-2 font-bold " th:text="${name}">This is home Page</h1>
    <p><a th:href="${youtubeLink}">Click to open youtube</a></span></p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro facere libero at! At ipsum, ratione facere nisi corporis quae quisquam commodi quis labore veniam sapiente quaerat hic dignissimos, alias cupiditate atque deleniti ea debitis.</p>
</div>
</div>




<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>